In [1]:
my_list = [3, 'Apple', 204, 'B3', 'Audi']
print(my_list)

[3, 'Apple', 204, 'B3', 'Audi']

In [2]:
#length 
length = len(my_list)
print(length)

5

In [3]:
#append
my_list.append(503)
print(my_list)

[3, 'Apple', 204, 'B3', 'Audi', 503]

In [15]:
#extend
new_list = [33, 'Banana', 'Cheery']
my_list.extend(new_list)
print(my_list)

['Banana', 204, 'Apple', 3, 33, 'Banana', 'Cheery']

In [17]:
#insert
my_list.insert(2, 'Orange')
print(my_list)

['Banana', 204, 'Orange', 'Apple', 3, 33, 'Banana', 'Cheery']

In [18]:
#remove
my_list.remove('Orange')
print(my_list)

['Banana', 204, 'Apple', 3, 33, 'Banana', 'Cheery']

In [20]:
#index
index = my_list.index('Apple')
print(index)

2

In [21]:
#reverse
my_list.reverse()
print(my_list)

['Cheery', 'Banana', 33, 3, 'Apple', 204, 'Banana']

In [23]:
new_list = [23, 45, 11, 89, 34, 45, 90, 28, 11, 101]
print("New List = ", new_list)

New List =  [23, 45, 11, 89, 34, 45, 90, 28, 11, 101]

In [25]:
#count
new_list.count(11)

2

In [26]:
#sort
new_list.sort()
print(new_list)

[11, 11, 23, 28, 34, 45, 45, 89, 90, 101]

In [34]:
#min max sum
print("Minimum: ",min(new_list))
print("Maximum:",max(new_list))
print("Total Sum:",sum(new_list))

Minimum:  11
Maximum: 101
Total Sum: 477

In [39]:
new_list.clear()
print(new_list)

[]