In [17]:
#basic  
name = "Jahanvi"
age = 21
address = "Chapra"
print("Name:", name)
print("Age:", age)
print("Address:", address)

Name: Jahanvi
Age: 21
Address: Chapra

In [8]:
num= int(input("enter a number:"))
print(num)
print(type(num))

enter a number: 3

3
<class 'str'>

In [6]:
num= float(input("enter a number:"))
print(num)
print(type(num))

enter a number: 34.4

34.4
<class 'float'>

In [21]:
#if-else
num = int(input("enter an integer:"))
print(num)
if num % 2==0 : 
    print(num ,"is even")
else:
    print(num, "is odd")

enter an integer: 23

23
23 is odd

In [23]:
#if-else ladder 
temperature = 50

if temperature > 100:
    print("It's extremely hot outside.")
elif temperature > 85:
    print("It's very hot outside.")
elif temperature > 70:
    print("It's warm outside.")
elif temperature > 55:
    print("It's cool outside.")
elif temperature > 40:
    print("It's chilly outside.")
else:
    print("It's cold outside.")

It's chilly outside.

In [24]:
#nested if-else
age = 25

if age < 2:
    category = "Infant"
elif age < 4:
    category = "Toddler"
elif age < 13:
    category = "Child"
elif age < 20:
    category = "Teenager"
elif age < 65:
    category = "Adult"
else:
    category = "Senior"

print(f"The person is an {category}.")

The person is an Adult.

In [25]:
#for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
# all the even numbers within the given range
given_range = 10
for i in range(given_range):
        if i%2==0:
                print(i)

0
2
4
6
8

In [28]:
#sum of all the odd numbers within the given range
given_range = 10
sum = 0
for i in range(given_range):
        if i%2!=0:
                sum+=i
print(sum)

25

In [30]:
#while loop
num = int(input("Enter the number: "))
i = 1
while i <= 10:
    print(num, "x" ,i, "=" ,num * i)
    i += 1

Enter the number:  3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [31]:
#Print the reverse of a given number
number = int(input("Enter a number: "))
reverse = 0
while number > 0:
    digit = number % 10
    reverse = reverse * 10 + digit
    number = number // 10

print(f"Reversed number is: {reverse}")

Enter a number:  34

Reversed number is: 43

In [34]:
#Print the first 10 Fibonacci numbers
a, b = 0, 1
count = 0
n = int(input("enter an integer:"))
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

enter an integer: 5

0
1
1
2
3