In [1]:
import pandas as pd
data = pd.read_csv("employee_data.csv")
#print(data)
print(data.head(10))

   EmpID FirstName  LastName  StartDate   ExitDate                    Title  \
0   3427     Uriah   Bridges  20-Sep-19        NaN  Production Technician I
1   3428     Paula     Small  11-Feb-23        NaN  Production Technician I
2   3429    Edward      Buck  10-Dec-18        NaN       Area Sales Manager
3   3430   Michael   Riordan  21-Jun-21        NaN       Area Sales Manager
4   3431   Jasmine     Onque  29-Jun-19        NaN       Area Sales Manager
5   3432     Maruk    Fraval  17-Jan-20        NaN       Area Sales Manager
6   3433     Latia     Costa  06-Apr-22  03-Jul-23       Area Sales Manager
7   3434  Sharlene     Terry  06-Nov-20  29-Jan-23       Area Sales Manager
8   3435       Jac  McKinzie  18-Aug-18        NaN       Area Sales Manager
9   3436    Joseph   Martins  21-Jan-22  29-Jun-23       Area Sales Manager

        Supervisor                        ADEmail BusinessUnit EmployeeStatus  \
0     Peter Oneill    uriah.bridges@bilearner.com         CCDR         Active
1  Renee Mccormick      paula.small@bilearner.com           EW         Active
2   Crystal Walker      edward.buck@bilearner.com           PL         Active
3   Rebekah Wright  michael.riordan@bilearner.com         CCDR         Active
4        Jason Kim    jasmine.onque@bilearner.com          TNS         Active
5     Sheri Campos     maruk.fraval@bilearner.com          BPC         Active
6      Jacob Braun      latia.costa@bilearner.com          WBL         Active
7    Tracy Marquez   sharlene.terry@bilearner.com         CCDR         Active
8    Sharon Becker     jac.mckinzie@bilearner.com          NEL         Active
9   George Jenkins   joseph.martins@bilearner.com          BPC         Active

   ...              Division         DOB State JobFunctionDescription  \
0  ...  Finance & Accounting  07-10-1969    MA             Accounting
1  ...                Aerial  30-08-1965    MA                  Labor
2  ...         General - Sga  06-10-1991    MA              Assistant
3  ...  Finance & Accounting  04-04-1998    ND                  Clerk
4  ...         General - Con  29-08-1969    FL                Laborer
5  ...      Field Operations  03-04-1949    CT                 Driver
6  ...         General - Eng  01-07-1942    CA             Technician
7  ...             Engineers  07-03-1957    OR               Engineer
8  ...             Executive  15-05-1974    TX    Executive Assistant
9  ...             Engineers  11-11-1949    TX               Engineer

  GenderCode LocationCode  RaceDesc MaritalDesc Performance Score  \
0     Female        34904     White     Widowed       Fully Meets
1       Male         6593  Hispanic     Widowed       Fully Meets
2       Male         2330  Hispanic     Widowed       Fully Meets
3       Male        58782     Other      Single       Fully Meets
4     Female        33174     Other     Married       Fully Meets
5       Male         6050     Black     Married       Fully Meets
6     Female        90007  Hispanic    Divorced           Exceeds
7     Female        97756     White    Divorced       Fully Meets
8       Male        78789     Black     Widowed           Exceeds
9       Male        78207     Asian     Widowed       Fully Meets

  Current Employee Rating
0                       4
1                       3
2                       4
3                       2
4                       3
5                       3
6                       4
7                       2
8                       3
9                       5

[10 rows x 26 columns]

In [2]:
print(data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   FirstName                   3000 non-null   object
 2   LastName                    3000 non-null   object
 3   StartDate                   3000 non-null   object
 4   ExitDate                    1533 non-null   object
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   ADEmail                     3000 non-null   object
 8   BusinessUnit                3000 non-null   object
 9   EmployeeStatus              3000 non-null   object
 10  EmployeeType                3000 non-null   object
 11  PayZone                     3000 non-null   object
 12  EmployeeClassificationType  3000 non-null   object
 13  TerminationType             3000 non-null   object
 14  TerminationDescription      1533 non-null   object
 15  DepartmentType              3000 non-null   object
 16  Division                    3000 non-null   object
 17  DOB                         3000 non-null   object
 18  State                       3000 non-null   object
 19  JobFunctionDescription      3000 non-null   object
 20  GenderCode                  3000 non-null   object
 21  LocationCode                3000 non-null   int64
 22  RaceDesc                    3000 non-null   object
 23  MaritalDesc                 3000 non-null   object
 24  Performance Score           3000 non-null   object
 25  Current Employee Rating     3000 non-null   int64
dtypes: int64(3), object(23)
memory usage: 609.5+ KB
None

In [4]:
print(data.describe())

             EmpID  LocationCode  Current Employee Rating
count  3000.000000   3000.000000              3000.000000
mean   2500.500000  44997.180667                 2.969000
std     866.169729  29987.331783                 1.015078
min    1001.000000   1013.000000                 1.000000
25%    1750.750000  17546.000000                 2.000000
50%    2500.500000  44150.500000                 3.000000
75%    3250.250000  71481.250000                 3.000000
max    4000.000000  98052.000000                 5.000000

In [7]:
print(data.isnull().sum())

EmpID                            0
FirstName                        0
LastName                         0
StartDate                        0
ExitDate                      1467
Title                            0
Supervisor                       0
ADEmail                          0
BusinessUnit                     0
EmployeeStatus                   0
EmployeeType                     0
PayZone                          0
EmployeeClassificationType       0
TerminationType                  0
TerminationDescription        1467
DepartmentType                   0
Division                         0
DOB                              0
State                            0
JobFunctionDescription           0
GenderCode                       0
LocationCode                     0
RaceDesc                         0
MaritalDesc                      0
Performance Score                0
Current Employee Rating          0
dtype: int64